@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom-in {
  animation: zoom-in 1.5s infinite;
}

.animate-zoom-out {
  animation: zoom-out 1.5s infinite;
}

@keyframes slide {
  0% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227080/2022-03-30_xjetrf.jpg");
  }
  20% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227080/2018-09-26_btvgdc.jpg");
  }
  40% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227300/2022-03-30_1_hyvnvs.jpg");
  }
  60% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227436/2022-03-08_klfhha.jpg");
  }
  80% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227437/2018-09-26_1_ktvha4.jpg");
  }
  100% {
    background-image: url("https://res.cloudinary.com/dmonsn0ga/image/upload/v1726227080/2022-03-30_xjetrf.jpg");
  }
}

.animate-slide {
  animation: slide 30s infinite;
}

.signinbtn.css-dev-only-do-not-override-1pg9a38.ant-btn:hover {
  background-color: #0caa46 !important;
  color: white !important;
  border: none !important;
}
.signinbtn.css-dev-only-do-not-override-1pg9a38.ant-btn-default:disabled:hover {
  background-color: #ccc !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.dwnld-btn.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: #12b0b6 !important;
  color: white;
  border: #12b0b6 !important;
}

.event-btn.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: blue !important;
  color: white;
  border-color: blue !important;
}

.event-dlt.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: red !important;
  color: white;
  border-color: red !important;
}

.event-add.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: blue !important;
  color: white;
  border-color: blue !important;
}

.next-btn.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: rgb(28, 101, 238) !important;
  color: white;
  border-color: rgb(64, 127, 245) !important;
}


.sports-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.sports-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sports-scrollbar::-webkit-scrollbar-thumb {
  background-color: #66696c;
  border-radius: 10px;
}


.sports-btn.css-dev-only-do-not-override-1pg9a38.ant-btn-default:hover {
  background-color: rgb(17, 135, 219) !important;
  color: white;
  border-color: rgb(17, 135, 219) !important;
}
