* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-container {
  background-image: url('../../assets/Frame6.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.outter {
  top: 2rem;
  right: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
}

.heading {
  margin-top: 50px;
  margin-left: 10px;
  color: white;
}

.heading h1 {
  margin-left: 10px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pic img {
  margin-top: 20px;
  width: 400px;
  height: 400px;
  animation: fadeIn 1.5s ease-in forwards;
}

.logo {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.logo h1 {
  margin-left: 2px;
  margin-top: 19px;
  font-size: xx-large;
  font-weight: bold;
}

.logo img {
  width: 90px;
  height: 90px;
  animation: fadeIn 1.5s ease-in forwards;
}

.topic p {
  font-size: small;
  margin-left: 38px;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.forgot {
  font-size: small;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.login {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 .title {
  color: #2779b3;
  margin-right: 0;
}

.logo h1 .title1 {
  color: #f2a404;
}

.logo h1 .title3 {
  background: linear-gradient(to bottom, #778796, #fffefc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
}

.forgot-btn  {
  color: #ffffff !important;
  /* background-color: #5fc4ee; */
  border: none;
  padding-bottom: 3px;
  border-radius: 7px;
  /* width: 70px; */
  /* height: 40px; */
  font-weight: 400;
  cursor: pointer;
  font-size: small;
  font-style: italic;
  
  /* margin-left: auto; */
}



.loginbtn.css-dev-only-do-not-override-1pg9a38.ant-btn:hover {
  background-color: #d87504 !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
}

.loginbtn.css-dev-only-do-not-override-1pg9a38.ant-btn {
  background-color: #f48301 !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
  font-weight: 600;
}

.forgot-btn {
  display: flex;
  gap: 50px;
}

.forgot-btn p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: small;
  margin-left: 9px;
}

.login form input {
  border: none;
  padding: 12px;
  border-radius: 7px;
  color: black;
}

form input:focus,
form input:hover {
  background-color: white;
  outline: 2px solid #5fc4ee;
  border: none;
  color: black;
}

.ex-login {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.ex-login img {
  width: 32px;
  height: 32px;
}

.ex-login button {
  cursor: pointer;
  border: none;
  background-color: rgba(34, 52, 76);
}

.intersect {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  color: rgb(107, 108, 110);
  justify-content: center;
}

#or {
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.signup {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: #51b2e2;
  font-family: "Poppins", sans-serif;
  font-size: small;
}

.signup a {
  text-decoration: none;
  color: #51b2e2;
  font-weight: bold;
}

.signup-options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.pass {
  background-color: rgba(32, 42, 62);
  border: none;
  padding: 12px;
  border-radius: 7px;
  width: 310px;
}

.pass:hover {
  outline: 2px solid #5fc4ee;
  border: none;
}

.pass:focus {
  outline: 2px solid #5fc4ee;
  border: none;
}

@media (max-width: 767px) {
  .pic img {
    display: none;
  }
  .sep {
    display: flex;
    flex-direction: column;
  }
  .sep h2 {
    margin-top: 10px;
    margin-left: 0px;
    letter-spacing: 0.5px;
    font-size: x-large;
    font-weight: bold;
  }
  .topic {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    margin-top: 5px;
    margin-left: 0px;
    padding: 20px;
  }
  .signup {
    margin-top: 40px;
    margin-bottom: 40px;
}
}
